.main {
    width:100%;
}
.titlem, .titles, .titlej {
    font-style: italic;
}
.titlea:before, .titlea:after {
    content:'"';
}

/* drop letter */
#text span.decorInit {
    display: block;
}

/* head section */
#text h1 {
    text-align: center;
    font-size: 1em;
    line-height: 22px;
}
#text h1.titlem {
    font-style: normal;
}

/* lg indent and/or vertical space */
#text div.lg.lgindent div[class="line"]:first-of-type span.l {
    text-indent: 1em;
}
#text div.lgvspace {
    margin-bottom: 1em;
}

/* line numbers */
#text .ln {
    font-size: .85em;
    float: right;
    color: #FFF;
    font-style: normal;
}
#text .ln.rend {
    color: inherit;
}
#text .lg:hover > .ln:not(.rend),
#text .lg.idsSelected .ln:not(.rend) {
    color: #f7f5f5;
}
#text .pno4 .lg.idsSelected .ln:not(.rend) {
    color: #fff;
}

#text .castList {
    width: 75%;
}
#text ul {
    list-style-type: none;
}
#text li {
    padding-bottom: 5px;
}
ul.textstructure {
    list-style-type: none;
    list-style-position: outside;
    padding: 0 0 0 18px;
}
ul.bibliography {
    padding: 5px 0 0 18px;
}
ul.bibliography div.biblfree {
    display: inline;
}
.bibl {
    text-indent: -1.2em;
    margin-left: 1.2em;
}
.q ~ span.bibl {
   margin-left: 6em;
}

span.bibl {
    margin-left: 0;
}

/* block full-text spans */
#text div.lg > div span.l, 
#text div.sp > div span.l {
    display: block;
}
#text .castList {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#text div.lg > div span.l,
#text div.sp > div span.l {
    width: auto; /* <--- adapt this dynamically as an inline style to create center block for full-text */
}

/* highlight prose paragraphs */
#text p::before {
    content: '\00a0\00a0\00a0\00a0';
}
#text p:hover::before {
    content: 'â¡\00a0';
    margin-left:.7px;
    color: #822;
/*    background-color: #F7F7F7;*/
}
/* highlight poem lines */

#text div.line:hover .collapse.in {
      color: #333;
}
#text div.line:hover *:not(a):not(sup):not(i) {
/*    color: #000;
    background-color: #F7F7F7;*/
}
/* highlight w/pc */
#text div.line span.l span.w:hover,
#text div.line span.l span.pc:hover
{
/*    color: #fff;
    background-color: #79211F;*/
}
.highlight {
    color: #fff;
    background-color: #79211F;
    display:inline;
}

/* pagebreaks */
#text .pagebreak {
    font-size: .85em;
    display: none;
    text-align: right;
    font-style: normal;
}
/* hidden paratexts */
#text .preface {
    display:none; 
}

/* gap */
#text .gap {
/*    display: inline !important;*/
}

/* byline, figure */
#text .byline, #text .figure {
    text-align: center;
    display: none;
    padding-bottom: 10px;
}
#text .figure {
    font-size: 12px;
}

#text div.note {
    background-color: #fff;
    border-width: 1px;
    border-style: dotted none;
    font-size: 12px;
    line-height: 16px;
    padding: 2px;
    font-variant: normal;
    font-style: normal;
    font-weight: normal;
}

#text div.note[id^="app_"] {
    border-width: 1px;
    border-style: dashed none;
}

#text .head, #text .head-part, #text .head-stanza, #text .stage, #text .sub, #text .trailer {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 5px;
    display: block;
}
#text .trailer, #text .argument {
    margin-bottom: 10px;
}
#text .head-part {
    margin-top: 10px;
    font-size: 1em;
}
#text .head-stanza {
    font-size: 1em;
}
#text .sub {
    margin-top: 0px;
}
.hi {
    font-style: italic;
}
.h_15 { margin-left: 15em !important; }
.h_8 { margin-left: 8em !important; }
.h_0 { margin-left: 0 !important; text-indent: 0 !important; }

#text a.notelink sup {
    color: #fff;
    background-color: #79211F;
    padding-right:1px;
    padding-left:1px;
    font-style: normal;
    font-variant: normal;
    font-weight: bold;
}
#text a.notelink {
    text-decoration: none;
}

#text blockquote {
    border: 0;
    font-size: 1em;
    margin: 0;
    padding: 10px 20px 0 20px;
}

/*.sstart, .send, .sdiv, #meta-tabs { display: none }*/

/* uses flex to reorder elements in authors */
#portrait {
    float: right;
    max-width: 400px;
    margin: 0 0 20px 20px;
}

#portrait .figure {
    display: flex;
    flex-direction: column;
}

#portrait .figure img {
    order: 1;
    max-width: 100%;
    height: auto;
}
#portrait .figure figcaption {
    order: 2;
}
#portrait .figure p {
    order: 3;
}
.carousel-caption {
    text-shadow: 2px 2px #000;
}
.portrait {
/*    max-width: 400px !important; */
}

.text .idsSelected {
    background-color: #f7f5f5 !important;
    color:#333 !important;
}
.text .stnSelected {
    margin: 10px 0 5px 0;
    border: 1px dashed #79211f;
}
.scit {
    font-size: smaller;
    text-align: right;
    margin-top:10px;
}
