

div.content {
	display: none;
	/* clear: both; undo */
	height: 100%;
	position: relative;
}
/*
div.content a:link,  div.navigation a:link,  {
	text-decoration: none !important;
	border-bottom: none !important;

}

div.content a:hover,  div.content a:active {
	text-decoration: none !important;
	border-bottom: none !important;
}
*/



div.loader {

	background-image: url(loader.gif);
}
div.slideshow img {

	border-color: #ccc;

}

ul.thumbs li.selected a.thumb {

/*	background: #000; */
	background-color: #79211F;
	color: #FFF;
}

/* Not present in html */

div.pagination a:hover {

	background-color: #eee;
}
div.pagination span.current {

/*	background-color: #000;

	border-color: #000;

	color: #fff;*/
	background-color: #79211F;
	color: #FFF;
}
#main ul.thumbs li.selected a:link, #main ul.thumbs li.selected a:visited {

/*	background-color: #000;

	border-color: #000;

	color: #fff;*/
	background-color: #79211F;
	color: #FFF;
}
/* End Not present in html */

div#thumbs {
position: relative;
width: 130px !important;

}





div.nav-controls a.prev {
	background-image: url(prevPageArrow.gif);
}
div.nav-controls a.next {
	background-image: url(nextPageArrow.gif);
}

div.nav-controls a.prev, div.nav-controls a.next {
	display: block;
	text-align:center;
	margin: 2px;
	width: 20px;
	height:19px;
	background-position:center;
	background-repeat:no-repeat;
	border: none !important;
}
div.nav-controls a.prev:focus, div.nav-controls a.next:focus {
	outline: none;
}


div.nav-controls a.prev {

position: absolute;

right: 200px;
top: 0;

}

div.nav-controls a.next {

position: absolute;

right: 160px;
top: 0;

}

div.controls {
	
	margin-top: 5px;

	height: 23px;

}

div.controls a {

	padding: 5px;

}

div.ss-controls {

	float: left;

}

div.nav-controls {

	float: left;

}

div.slideshow-container,
div.loader,
div.slideshow a.advance-link {
	width: 700px; /* This should be set to be at least the width of the largest image in the slideshow with padding */
}



div.loader,
div.slideshow a.advance-link
 {
	height: 1060px; /* This should be set to be at least the height of the largest image in the slideshow with padding */	
}

div.slideshow-container {
	position: relative;
	clear: both;
	float: left;
	height: 1060px;
}

div.loader {
	position: absolute;
	top: 0;
	left: 0;
	background-image: url('loader.gif');
	background-repeat: no-repeat;
	background-position: center;
}
div.slideshow span.image-wrapper {
	display: block;
	position: absolute;
	top: 30px;
	left: 0;
}
div.slideshow a.advance-link {
	display: block;
	/*line-height: 300px;  This should be set to be at least the height of the largest image in the slideshow with padding */
	text-align: center;
}

div.slideshow a.advance-link:hover,
div.slideshow a.advance-link:active,
div.slideshow a.advance-link:visited {
	text-decoration: none;
}
div.slideshow a.advance-link:focus {
	outline: none;
}








div.slideshow img {

	border-style: solid;
	border-width: 1px;

} 

div.caption-container {

	clear: left;
	position: relative;
	margin-top: 20px;
	
	

}

span.image-caption {

	display: block;

	position: absolute;
	top: -20px;
	left: 0;

}



div.caption {

	padding: 10px 12px;

}

div.image-title {

	font-weight: bold;

	font-size: 1.4em;
	
	padding-right: 20px;
	
	display: none;

}

div.image-desc {

	line-height: 20px;

	padding-left: 10px;
	width: 700px;
	display: inline;
	position: absolute;
	left: 0;
	top: 0;

}






div.download {
	margin-top: 8px;
	
	display: inline;

}
div.photo-index {
	position: absolute;
	top: 0;
	right: 50px;
	padding: 12px;
}

div.photo-index {
/*	display: none; */
}

div.navigation-container {
	/*float: left; undo */
	position: relative;

	left: 0;
	margin-bottom: 2%;
	
	

}

div.navigation {
	float: left;
	position: relative;

	
}
div.navigation a.pageLink {
	display: block;
	height:19px;
	line-height: 19px;
	float: left;
	margin: 2px;
	width: 16px;
	background-position:center;
	background-repeat:no-repeat;
	
	
}
div.navigation a.pageLink:focus {
	outline: none;
}

div.navigation a.prev {
	background-image: url(prevPageArrow.gif);
	position: absolute;
		top: 40%;
	left: 0;
}
div.navigation a.next {
	background-image: url(nextPageArrow.gif);
	position: absolute;
		top: 40%;
	right: -15px;
}



ul.thumbs {
	position: relative;
	float: left;

	margin: 0 !important;

	padding: 0;

}

ul.thumbs li {
	float: left;

	padding: 0;

	margin: 2px;

	list-style: none;

}


a.thumb {

	padding: 1px;

	display: block;

}

a.thumb:focus {

	outline: none;

}

ul.thumbs img {

	border: none;

	display: block;

}



div.pagination {

	clear: both;
	position: relative;
	

}

div.pagination a, div.pagination span.current, div.pagination span.ellipsis {

	position: relative;
	display: block;

	float: left;

	margin-right: 2px;

	padding: 4px 7px 2px 7px;

	border: 1px solid #ccc;

}

div.pagination a:hover {

	text-decoration: none;

}

div.pagination span.current {

	font-weight: bold;

}

div.pagination span.ellipsis {

	border: none;

	padding: 5px 0 3px 2px;

}

div.gallery-gutter {
	clear: both;
	padding-bottom: 20px;
}

/*End Not present in html*/


/* Gallery special styles  */


.gallery div.image-desc {

	
	max-width: 550px;
	
}


.gallery div.slideshow-container,
.gallery div.loader,
.gallery div.slideshow a.advance-link {
/*	width: 480px; */
/* This should be set to be at least the width of the largest image in the slideshow with padding */
}

.gallery div.loader,
.gallery div.slideshow a.advance-link
 {
	height: 700px; /* This should be set to be at least the height of the largest image in the slideshow with padding */	
}

.gallery div.slideshow a.advance-link {
	display: block;
	/*line-height: 300px;  This should be set to be at least the height of the largest image in the slideshow with padding */
	text-align: center;
}

.gallery div.slideshow img {
	max-width: 100%;
/*	max-width: 480px;*/
}


.gallery div.photo-index {
	position: absolute;
	top: 30px;
	right: 15px;
	padding: 12px;
}

.gallery div.nav-controls a.prev {

position: absolute;

right: 180px;
top: -5px;

}

.gallery div.nav-controls a.next {

position: absolute;

right: 140px;
top: -5px;

}

.gallery div.slideshow-container {
	position: relative;
	clear: both;
	float: left;
	height: 900px;
	margin-top: 40px;
}

.gallery ul.thumbs {
	position: relative;
	float: left;

	margin: 0 !important;

	padding: 10px 0;

}

/* Digital Library special styles  */





.diglib div.photo-index {
	position: absolute;
	top: 10px;
	right: 15px;
	padding: 12px;
}

.diglib div.image-desc {


	left: 20px;
	

}


.diglib div.nav-controls a.prev {

position: absolute;

right: 200px;
top: -5px;

}

.diglib div.nav-controls a.next {

position: absolute;

right: 160px;
top: -5px;

}

.diglib div.slideshow-container {
	position: relative;
	clear: both;
	float: left;
	
	margin-top: 20px;
}

.diglib ul.thumbs {
	position: relative;
	float: left;
	margin: 0 !important;
clear: left;
	padding: 20px 0;

}

#main.diglib ul.thumbs li {
	clear: left;
	line-height: 1.2em;
	

}



.diglib ul.thumbs li a:before { content:'p. '; }

